.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

html {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--backgound-color);
    color: var(--text-main-color);
}

h1 {
    font-size: 1.5rem;
}

/* Components */

/* Button */
button {
    height: var(--input-height);
    background-color: var(--accent-color);

    text-align: center;

    border-radius: 30px;
    border: 1px solid var(--text-main-color);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);

    transition-property: background-color;
    transition-timing-function: ease;
    transition-duration: var(--transition-duration);

    font: inherit;
    color: inherit;

    cursor: pointer;
}

button:hover {
    background-color: var(--accent-selected-color);
}

button:active {
    background-color: var(--accent-pressed-color);
}

input::placeholder {
    color: var(--text-additional);
}

/* Textbox */

input[type='password'], input[type='text'] {
    height: var(--input-height);
    background-color: var(--backgound-color);

    padding-inline: var(--padding-normal);

    border-radius: 30px;
    border: 1px solid var(--text-main-color);
    box-shadow: 5px 5px 10px 5px var(--shadow-color);
}

.checkbox-label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    vertical-align: text-top;
    grid-gap: 0.3em;
}

input[type="checkbox"] {
    appearance: none;
    display: inline;
    width: var(--input-height);
    height: var(--input-height);;
    box-shadow: inset -5px 5px 10px 5px var(--shadow-color);
    clip-path: circle(40%);
}

input[type="checkbox"]:checked {
    appearance: none;
}

input[type="checkbox"]:checked::before {
    content: '';
    display: inline-block;
    width: var(--input-height);
    height: var(--input-height);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    background-color: var(--accent-color);
    transform: scale(0.5) translate(-5%, 5%);
}

/* or-divider */
.or-divider {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    place-content: center;
}

.or-divider>div {
    display: inline-block;
    width: auto;
    height: 1px;
    border-top: 1px solid var(--text-additional);
}

.or-divider>span {
    padding-inline: var(--padding-small);
    color: var(--text-additional);
}

a {
    color: var(--accent-color);
}

a:visited {
    color: var(--accent-pressed-color);
}

a:hover {
    text-decoration: underline;
}

svg {
    fill: var(--text-main-color);
}