body {
    --accent-color: #3b82f6;
    --accent-selected-color: #5593f7;
    --accent-pressed-color: #2474f5;

    --accent-sucsses-color: #10B981;
    --accent-error-color: #EF4444;

    --text-additional: #8c8c8c;
    --shadow-color: rgb(0 0 0 / 0.2);

    --padding-small: 8px;
    --padding-normal: 16px;
    --padding-large: 32px;

    --border-radius: 30px;

    --input-height: 42px;
    --header-height: 96px;

    --icon-mobile-width: 48px;

    --side-navigation-size: 256px;

    --transition-duration: 0.2s
}

body[theme='dark'] {
    --backgound-color: #111827;
    --foreground-color: #1f2937;
    --text-main-color: #ffffff
}

body[theme='light'] {
    --backgound-color: #efefef;
    --foreground-color: #ffffff;
    --text-main-color: #1b263e
}